body, .pusher.dimmed, .pusher{
	background-color: #1b1c1d !important;
	color: white;
}
.vraaau .label.fluid.vrau{
	font-size: medium !important;
}
#changePwdForm .label.fluid.vrau{
	font-size: 13px;
}
.label.fluid.vrau, .ui.pointing.label{
	min-height: 38px;
	text-align: center;
}

legend p, legend{
	font-size: 23px;
	text-align: center;
	color:#6dffff;
}
fieldset{
	border-radius: 20px;
	border-color: #6dffff;
	margin-top: 20% !important;
	margin-bottom: 45%;
	margin-right:auto;
	margin-left:auto;
}
#regField {
	margin-bottom: 30% !important;
}
#upload {
	margin-top:45% !important;
}
#logo h1 {
	text-align: center;
	color: #54FFFF;
	font-family: "Times New Roman", Times, serif;
	margin-top:2%;
	font-size:60px;
	font-weight: bold;
	text-shadow: 3px 3px #1E5B5B;
	font-style: italic;
}
#copyright {
	text-align: center;
	color:white;
}
textarea{
resize: none !important;
}
#iconown{
	margin-left: 10px !important;
}
#wowslider-container {
	width:800px !important;
	height:400px !important;
	border-bottom: 10px solid #1e1e1e !important;
	background-size: cover !important;
	word-wrap:break-word !important;
	margin-top: 2%;
	margin-bottom: 10%;
}
#wowslider-container img {
    height:400px !important;  
}
#wowslider-container .ws-title {
    font-size: 20px;
    word-wrap:break-word;

}
#wowslider-container .ws_bullets img {
	width: 250px !important;
	height:100px !important;
}
#noSlider{
	margin-top: 15%;
	margin-bottom: 22%;
}
.modal .actions{
	text-align: center !important;
}
.header{
	text-align:center;
}
.antiBugModal{
	visibility: hidden;
}